<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body style="background-color:red;">

<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>
<div class ="container">

    <div class="card-group">
        <!--<div class="card">-->
            <div class="card-body text-center" style="background-color:red; margin-right:10%;" >
                <img src="https://previews.123rf.com/images/elenarolau/elenarolau1605/elenarolau160500024/56876405-blood-donation-illustration-stylized-heart-with-drop-and-typographic-composition-world-blood-donor-d.jpg" class="card-img-top" alt="..." style="width:30rem;">

            <!--</div>-->
        </div>
        <div class="card">
            <div class="card-body text-center " style="background-color:red;">
<!--                <form method = "post" th:action="@{'view/{id}' +${event.id}}">-->

                <th:block th:each="event : ${events}">

                    <h3 th:text ="${'LOCATION :' + event.location}" class="card-title">Card title</h3>
                <h3 th:text ="${'STREET :' + event.streetname}" class="card-title">Card title</h3>
                <h3 th:text ="${'CITY :' + event.city}" class="card-title">Card title</h3>
                <h3 th:text ="${'ZIPCODE :' + event.zipcode}" class="card-title">Card title</h3>
                <h3 th:text ="${'DATE:' + event.date}" class="card-text">Date</h3>
                <h3 th:text ="${'START TIME: ' +event.starttime}" class="card-text">startTime</h3>
                        <h3 th:text ="${'END TIME: ' +event.endtime}" class="card-text">end Time</h3>

                </th:block>
<!--                </form>-->

        </div>
        </div>
    </div></div>
        </body>
        </html>