<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<div class="container">
<form method="POST" th:object ="${login}">
    <table>
        <tr>
            <td>UserName</td>
            <td><input type="text" th:field="*{name}" /></td>
            <span th:errors="*{name}" class="error"></span>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{password}" /></td>
            <span th:errors="*{password}" class="error"></span>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Sign In"/>
            </td>
        </tr>

        <tr>
            <td>
                Don't have an Account? <a href="/donors/newdonor">New Donor</a>
            </td>
        </tr>
    </table>
</form>
</div>
</body>
</html>