<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<div>
    <div th:if ="${donor}">
        <h1 th:text="Welcome + ', ' + ${donor.name}" ></h1>

    <!--<h1>Welcome to Blood Camp</h1>-->
    </div>
    <div th:if="${login}">
        <h1 th:text="Welcome + ', ' + ${login.name}" ></h1>

    </div>
</div>
<div th:unless="${donor} and ${login}">
<img src="https://tse2.mm.bing.net/th?id=OIP.JMeCiJ2aQzpk0qqxSyMUsAHaC0&pid=Api&P=0&w=523&h=200" style="width:100%; margin-top: 5%; align:center;" />
</div>

</body>
</html>