<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<div>
    <div th:if ="${donor}">
        <h1 th:text="Welcome + ', ' + ${donor.name}" ></h1>

    <!--<h1>Welcome to Blood Camp</h1>-->
    </div>
    <div th:if="${login}">
        <h1 th:text="Welcome + ', ' + ${login.name}" ></h1>

    </div>
</div>

</body>
</html>